@font-face {
  font-family: "bogart";
  src: url("https://chad-bennett.github.io/links/bogart-semibold.woff2") format("woff2"),
    url("https://chad-bennett.github.io/links/bogart-semibold.woff") format("woff"),
    url("https://chad-bennett.github.io/links/bogart-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family-editor: inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-title: bogart, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Microsoft YaHei Light", serif;
}

:root {
  --shadow: 1px 1px 4px #88888888;
  --inset-shadow: inset 1px 1px 3px #88888888;
  --color-dark: #3e3831 !important;
  --font-size: 18px !important;
  --color-gray-light: #d1cdc7;
  --color-gray-lightest: #eae8e3;
  --color-background: #f4f3f1;
  --color-greens: #d1dba2;
  --color-blues: #16949b;
  --color-blues-translucent: #c9ddde;
  --border: 0.5px solid transparent;
  --radius: 0.6rem;
  --color-background: linear-gradient(to right bottom, #ebeae8, #edecea, #eeeeeb, #f0efed, #f2f1ef, #f2f1ef, #f2f1ef, #f2f1ef, #f0efed, #eeeeeb, #edecea, #ebeae8);
}

* {
  color: var(--color-dark) !important;
}

/*reset body*/
body {
  background-image: none;
  background-image: var(--color-background);
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-size: 18px !important;
  hyphens: manual !important;
}


/* reset break point for transition to mobile */
@media screen and (max-width: 1000px) {
  .published-container .markdown-preview-view {
    padding: 24px 0 40px;
  }

  .published-container.has-navigation.is-left-column-open .nav-backdrop {
    opacity: 0;
  }

  .published-container.has-navigation .site-body-left-column {
    display: flex;
    position: fixed;
    top: 0;
    transition: transform 200ms ease-in-out;
    z-index: var(--layer-modal);
    left: 0;
    width: 100vw;
    background-color: var(--background-color);
    transform: translateX(-100%);
    top: var(--header-height);
    border-right: 0px;
  }

  .published-container.has-navigation .site-body-left-column .site-body-left-column-inner {
    width: 100%;
  }

  .published-container.has-navigation .nav-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    z-index: -1;
  }

  .published-container.has-navigation .site-header {
    display: flex;
    z-index: 90;
    background-color: var(--background-color);
    height: var(--header-height);
    padding: 0px 8px;
    /* Hamburger menu icon */
  }

  .published-container.has-navigation .site-header .clickable-icon {
    display: flex;
    align-items: center;
    color: var(--site-menu-icon-color);
    cursor: pointer;
    padding: 6px;
    margin-right: 6px;
  }

  .published-container.has-navigation .site-header .clickable-icon svg {
    width: var(--site-menu-icon-size);
    height: var(--site-menu-icon-size);
    stroke-width: 1.2px;
  }

  .published-container.has-navigation.is-left-column-open .site-body-left-column {
    transform: translateX(0);
  }

  .published-container.has-navigation.is-left-column-open .nav-backdrop {
    opacity: 1;
    z-index: 1;
  }

  .site-body-center-column {
    margin: 0;
  }

  .site-body-left-column,
  .site-body-right-column {
    font-size: 15px;
  }

  .site-body-left-column-site-name {
    display: none;
  }

  .site-body-left-column {
    padding: 0;
  }

  .site-body-left-column .site-body-left-column-inner {
    padding-top: 16px;
  }

  .site-body-left-column .search-view-outer {
    padding: 0 var(--page-side-padding) 12px;
  }

  .site-body-left-column .site-body-left-column-site-logo {
    display: none;
    margin: 0 auto 10px;
    max-width: 92%;
  }

  .site-body-left-column .site-body-left-column-site-theme-toggle {
    margin: 0 var(--page-side-padding) 8px;
    padding: 0;
  }
}

/* hide right column*/
.published-container.is-readable-line-width .site-body-right-column {
  display: none;
}

@media screen and (min-width: 1000px) body:not(.sliding-windows) .is-readable-line-width.has-outline.has-navigation .publish-renderer>.markdown-preview-view>.markdown-preview-sizer,
body:not(.sliding-windows) .is-readable-line-width.has-graph.has-navigation .publish-renderer>.markdown-preview-view>.markdown-preview-sizer {
  margin-right: 0 !important;
}

.publish-renderer {
  margin-top: 2rem;
}

@media screen and (max-width: 750px) {

  .published-container.has-navigation.is-left-column-open .site-body-left-column,
  .published-container.has-navigation .site-header {
    background: var(--color-background);
    opacity: 1;
  }
}

.published-container.has-navigation .nav-backdrop {
  background: var(--color-background);
}

/* font and line spacing */
.published-container .markdown-rendered {
  font-size: 1.1rem !important;
  line-height: 1.7 !important;
  letter-spacing: 0rem;
  padding: 0px 40px 20px 40px;
}

.published-container .markdown-rendered h1 {
  font-size: 3rem;
  line-height: 3.3rem;
  border: none;
}

.published-container .markdown-rendered h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-transform: lowercase;
  border: none;
}

.published-container .markdown-rendered h3 {
  font-size: 2rem;
  line-height: 2.2rem;
  text-transform: lowercase;
  border: none;
}

.published-container .markdown-rendered h1,
.published-container .markdown-rendered h2,
.published-container .markdown-rendered h3,
.published-container .markdown-rendered h4,
.published-container .markdown-rendered h5,
.published-container .markdown-rendered h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.published-container .markdown-rendered p,
.published-container .markdown-rendered ul,
.published-container .markdown-rendered ol {
  margin-bottom: 1.8rem;
}

/* left column stuff */
@media screen and (max-width: 1000px) .published-container.has-navigation.is-left-column-open .site-body-left-column {
  transform: translateX(0);
  opacity: 1;
  background: var(--color-background);
}

.site-body-left-column {
  background: none;
  border-right: none;
  padding: 1rem 0 0 2rem;
  height: 95%;
}

.site-body-left-column-site-name {
  text-align: center;
  font-family: var(--font-title);
}

.site-body-left-column-site-name::before {
  background: none;
  display: block;
  content: url(https://chad-bennett.github.io/links/meCircle.png);
  width: 100%;
}

.site-body-left-column .search-bar {
  background-color: var(--color-gray-lightest);
  box-shadow: var(--inset-shadow);
  border: var(--border);
  border-radius: var(--radius);
  padding: 0.6rem;
}

.site-body-left-column .search-view-outer {
  padding-right: 0;
  padding-bottom: 1rem;
  width: 90%;
}

input[type="text"] {
  padding-left: 2rem !important;
}

/* links on sidebars */
.nav-view .tree-item,
.outline-view-outer .tree-item-children {
  width: calc(100% - 4px);
  border-left: none;
}

.nav-view-outer .tree-item-self:not(.mod-collapsible) {
  border: 0.5px solid transparent !important;
  border-radius: var(--radius);
}

.nav-view-outer .tree-item-self {
  border: 0.5px solid transparent;
  transition: background-color 0.4s;
}

.outline-view-outer .tree-item-self {
  padding-left: 1rem;
  border: 0.5px solid transparent;
}

.nav-view-outer .tree-item-self.mod-active,
.outline-view-outer .tree-item-self.mod-active {
  font-weight: 700;
  background-color: var(--color-gray-light);
  border: var(--border) !important;
  border-radius: var(--radius);
}

.nav-view-outer .tree-item-self:hover:not(.mod-collapsible):not(.mod-active),
.outline-view-outer .tree-item-self:hover {
  background-color: var(--color-blues-translucent);
  border-radius: var(--radius);
  border: var(--border) !important;
}

/* fade side columns until hover */
.site-body-left-column,
.site-body-right-column {
  opacity: 0.2;
  transition: opacity 0.6s;
}

@media screen and (max-width: 1000px) {

  .site-body-left-column,
  .site-body-right-column {
    opacity: 1;
  }
}

.site-body-left-column:hover,
.site-body-right-column:hover,
.site-body-left-column:active,
.site-body-right-column:active {
  opacity: 1;
}

/* remove internal link brackets */
.internal-link::before,
.internal-link::after {
  display: none;
}

/*link styling*/
.published-container .markdown-rendered .internal-link,
.published-container .markdown-rendered a {
  color: var(--color-blues) !important;
  text-decoration: none;
  border-radius: var(--radius);
  border: 0.5px solid transparent;
  top: 0;
  padding: 0.2rem;
  transition: border 0.4s, background 0.3s;
  position: relative;
}

.published-container .markdown-rendered a:hover {
  color: var(--color-dark) !important;
  background: var(--color-blues-translucent) !important;
  border: var(--border);
}

/* font fixes */
.published-section-header {
  font-family: var(--font-title);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  font-style: var(--h3-style);
  text-transform: lowercase;
  letter-spacing: 0;
}

.published-section-header span {
  font-family: var(--font-title);
}

/* tags */
.published-container .markdown-rendered .tag,
a.tag {
  background: #d5d4ec !important;
  padding: 0.3rem;
  border-radius: var(--radius);
  border: var(--border);
  transition: transform 0.4s;
}

.published-container .markdown-rendered .tag:hover,
a.tag:hover {
  text-decoration: none;
}

/* center small images */
.image-embed {
  justify-content: center;
  display: flex;
}

/* svg tweaks */
svg {
  font-family: var(--font-family-editor);
}

/* fix higlight color */
::selection,
.published-container .markdown-rendered mark {
  background-color: var(--color-greens) !important;
}

/* images */
.markdown-preview-view .internal-embed img {
  border: var(--border);
  border-radius: var(--radius);
}

/* responsive iframe */
.iframeDiv {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: var(--radius);
  border: var(--border);
  border-radius: var(--radius);
}

/* blockquotes */

.markdown-preview-view blockquote {
  box-shadow: var(--inset-shadow);
  border: var(--border);
  border-radius: var(--radius);
  background-color: var(--color-gray-lightest) !important;
}

/** callout styling */
.callout {
  background-color: var(--color-gray-lightest);
  box-shadow: var(--inset-shadow);
  border: var(--border);
  border-radius: var(--radius);
  padding: 0.6rem;
  margin-bottom: 2rem;
}

.callout-title {
  padding: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  font-size: 1.3rem;
  font-family: var(--font-title);
  border-radius: var(--radius);
}

.callout-title h3 {
  font-size: 1.1rem;
  font-family: var(--font-family-editor);
  margin: 0;
}

.callout-icon {
  display: none;
}

.callout-content {
  padding: 15px;
}

.callout a:hover,
.published-container .markdown-rendered .backlinks a:hover {
  border: var(--border);
}

/* backlinks */
.backlink-items-container {
  border: none;
  background-color: var(--color-gray-lightest);
  box-shadow: var(--inset-shadow);
  border: var(--border);
  border-radius: var(--radius);
  padding: 1rem 2rem;
}

/* tooltips */
.tooltip,
.mod-top {
  color: var(--color-gray-lightest) !important;
}

/* tables */
.markdown-rendered table {
  border: none;
  background-color: var(--color-gray-lightest);
  box-shadow: var(--shadow);
  border: 1px solid var(--background-color);
  border-radius: var(--radius) !important;
}

.markdown-preview-view th,
.markdown-preview-view td {
  border: 1px solid var(--background-color);
}

.markdown-rendered thead tr>th:nth-child(2n + 2) {
  background-color: var(--color-gray-light);
}

/* utility classes */
figure:has(.left),
figure:has(.right) {
  display: inline;
}

.right,
[data-callout="right-card"] {
  float: right;
  width: 35%;
  max-width: 35%;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: transparent;
  box-shadow: none;
  border-right: none;
  border-bottom: none;
}

.left,
[data-callout="left-card"] {
  float: left;
  width: 35%;
  max-width: 35%;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: transparent;
  box-shadow: none;
  border-right: none;
  border-bottom: none;
}

.right .callout-title,
[data-callout="right-card"] .callout-title,
.left .callout-title,
[data-callout="left-card"] .callout-title {
  display: none;
}

[data-callout="right-card"] .callout-content,
[data-callout="left-card"] .callout-content {
  padding: 0;
  scale: 1.1;
}

.hideSmall {
  display: block;
}

@media screen and (max-width: 1000px) {

  .right,
  .left {
    float: none;
    clear: both;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .hideSmall {
    display: none;
  }
}

/* graph view */
.graph-view-container {
  background-color: var(--color-gray-lightest);
  box-shadow: var(--inset-shadow);
  border: var(--border);
  border-radius: var(--radius);
  padding: 0.6rem;
}

/* image grid */
/* grid setup for mobile-first design */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  width: 95%;
  max-width: 80em;
  margin: 2rem auto;
}

.grid figure,
.grid img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

.grid img {
  object-fit: cover;
  transition: transform 0.25s;
  border-radius: 0.3rem;
}

.grid img:hover {
  transform: scale(1.1);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.grid figcaption {
  text-align: center;
  font-weight: 300;
  color: var(--black-color);
  padding-bottom: 1rem;
  font-style: italic;
}

.callout-content img {
  box-shadow: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-radius: 0;
}

/* contact form */
.forms {
  min-height: 500px;
}

body>.forms .supernova .form-all,
body>.forms .form-all {
  border: none !important;
  box-shadow: none !important;
}

@media screen and (min-width: 480px) {

  body>.forms .supernova .form-all,
  body>.forms .form-all {
    border: none !important;
    box-shadow: none !important;
  }
}

.forms .formFooter {
  display: none !important;
}

.forms .jf-form-buttons:hover {
  background: #c9ddde !important;
}

.forms .form-textbox {
  box-shadow: inset 1px 1px 3px #88888888;
}

@media screen and (min-width: 800px) {

  body:not(.sliding-windows) .is-readable-line-width.has-outline.has-navigation .publish-renderer>.markdown-preview-view>.markdown-preview-sizer,
  body:not(.sliding-windows) .is-readable-line-width.has-graph.has-navigation .publish-renderer>.markdown-preview-view>.markdown-preview-sizer {
    margin-right: 1rem !important;
  }
}